// Colors
$dark-bg-outer: #1a1f1d;
$dark-bg-inner: #303b37;
$text-primary: #e1eeeb;
$text-secondary: #c2e9e0;
$text-highlight: #83e6c0;
$gradient-start: #307e6c;
$gradient-end: #2b996d;
$border-color: #76c0ae;
$white: #fff;
$semi-black: rgba(0, 0, 0, 0.2);
$semi-white: rgba(255, 255, 255, 0.2);